@model Products

@{
    ViewData["Title"] = "CreateProduct";
}

<form method="post" asp-action="AddProduct">
    <div>
    <label>Title</label>
        <input type="text" id="Title" name="Title" />
        <br /><br />
    <label>Date</label>
        <input type="text" id="Date" name="Date" />
    </div>
    <br /><br />
    <label>genre</label>
    <input type="text" id="genre" name="genre" />
    </div>       
    <br />
    <label>Price</label>
    <input type="text" id="Price" />
    </div>
    <button type="submit">Create</button>
</form>








