@{
    ViewData["Title"] = "Movie List";
}

<tr>
<td>Vaibhav from Home controller Index</td>
    <a asp-controller="Home" asp-action="">Home_Index</a>
    <a asp-controller="Home" asp-action="Play">Home_Play</a>
    <a asp-controller="Products" asp-action="">Products_Index</a>
    <a asp-controller="Products" asp-action="Products">Products_Products</a>
</tr>

