@{
    ViewData["Title"] = "Movie List";
}

<tr>
<td>Vaibhav from Home controller Index</td>
  <ul>
   <li><a asp-controller="Home" asp-action="">Home_Index</a></li>
        <li>
            <a asp-controller="Home" asp-action="Play">Home_Play</a>
        </li>
        <li>
            <a asp-controller="Products" asp-action="">Products_Index</a>
        </li>
        <li><a asp-controller="Products" asp-action="Products">Products_Products</a></li>
        <li><a asp-controller="Products" asp-action="Name">Products_Name</a></li>
        <li><a asp-controller="Products1" asp-action="">Products_Name1</a></li>
   </ul>

</tr>

